
/* btn-style-one */

.btn-style-one {
	font-family: 'Work Sans', sans-serif;
	background-color: transparent;
	color: #fff;
	position: relative;
	padding: 20px 34px;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	z-index: 1;
	letter-spacing: 1px;
	border-radius: 15px;
	overflow: hidden;
}
.btn-style-one:hover {
	background: #fff;
	color: #FB65A3;
}
.btn-style-one::before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	content: '';
	background: linear-gradient(180deg, #FB65A3 0%, #FF257F 100%);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	border-radius: 15px;
}
.btn-style-one::after {
	content: "";
	position: absolute;
	height: 0%;
	right: 50%;
	top: 50%;
	width: 100%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
.btn-style-one:hover::before {
	right: 0%;
	left: auto;
	width: 0;
}

.btn-style-two span {
	font-family: 'Mulish', sans-serif;
	height: 75px;
	font-weight: 600;
	font-size: 16px;
	line-height: 75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #FFFFFF;
	background: rgba(255, 255, 255, 0.01);
	-webkit-box-shadow: inset 0px 2px 1px rgba(255, 37, 127, 0.8), inset 0px 40px 40px rgba(255, 37, 127, 0.24), inset 0px -3px 6px rgba(255, 37, 127, 0.24), inset 0px -6px 18px rgba(255, 37, 127, 0.25), inset 0px -40px 40px rgba(12, 22, 45, 0.1), inset 0px 6px 12px rgba(255, 37, 127, 0.4);
	box-shadow: inset 0px 2px 1px rgba(255, 37, 127, 0.8), inset 0px 40px 40px rgba(255, 37, 127, 0.24), inset 0px -3px 6px rgba(255, 37, 127, 0.24), inset 0px -6px 18px rgba(255, 37, 127, 0.25), inset 0px -40px 40px rgba(12, 22, 45, 0.1), inset 0px 6px 12px rgba(255, 37, 127, 0.4);
	-webkit-backdrop-filter: blur(40px);
	backdrop-filter: blur(40px);
	border-radius: 26px;
	padding: 0 40px;
}

.btn-style-two span:hover {
	background: rgba(255, 255, 255, 0.075);
}

/*btn-style-there */

.btn-style-there {
	font-family: 'Work Sans', sans-serif;
	background-color: transparent;
	color: #fff;
	position: relative;
	padding: 0px 60px;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	z-index: 1;
	letter-spacing: 1px;
	border-radius: 18px;
	overflow: hidden;
	border: none;
	cursor: pointer;
	height: 60px;
	line-height: 60px;
	width: auto;
}   
.btn-style-there:hover {
	background: #fff;
	color: #FB65A3;
}
.btn-style-there::before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	content: '';
	background: linear-gradient(180deg, #FB65A3 0%, #FF257F 100%);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	border-radius: 10px;
}
.btn-style-there::after {
	content: "";
	position: absolute;
	height: 0%;
	right: 50%;
	top: 50%;
	width: 100%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}

.btn-style-there:hover::before{
	right: 0%;
	left: auto;
	width: 0;
}
.main-footer .btn-style-two span {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.01);
    -webkit-box-shadow: inset 0px 2px 1px rgba(255, 37, 127, 0.8), inset 0px 40px 40px rgba(255, 37, 127, 0.24), inset 0px -3px 6px rgba(255, 37, 127, 0.24), inset 0px -6px 18px rgba(255, 37, 127, 0.25), inset 0px -40px 40px rgba(12, 22, 45, 0.1), inset 0px 6px 12px rgba(255, 37, 127, 0.4);
    box-shadow: inset 0px 2px 1px rgba(255, 37, 127, 0.8), inset 0px 40px 40px rgba(255, 37, 127, 0.24), inset 0px -3px 6px rgba(255, 37, 127, 0.24), inset 0px -6px 18px rgba(255, 37, 127, 0.25), inset 0px -40px 40px rgba(12, 22, 45, 0.1), inset 0px 6px 12px rgba(255, 37, 127, 0.4);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    padding: 20px 32px;
}