:root {
    --base-html-font-size: 62.5%;
  
    --roboto: "Roboto", sans-serif;
  
  
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
  
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-17: 17px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-23: 23px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-26: 26px;
    --fs-27: 27px;
    --fs-28: 28px;
    --fs-29: 29px;
    --fs-30: 30px;
  
    --clr-black: #000;
    --clr-black-10:rgba(12, 25, 40, 0.7); 
    --clr-black-20: #14183E;

    --clr-white:#fff;
  
  
    --lp-dark-bg:#141426;
    --lp-light-bg:#FFFFFF;
  
   
  

    --maan-icon-clr:#03A9F4;
    
    --maan-ct-clr:#0C1928;
    --maan-ct-header-bg: rgba(255, 73, 128, 0.1);
    --maan-ct-header-bg-2:rgba(14, 180, 255, 0.1);
    --maan-ct-header-bg-3:rgba(209, 255, 26, 0.1);
    --maan-ct-header-bg-4:rgba(175, 73, 255, 0.1);
    --maan-ct-box-shadow: 8px 10px 80px rgba(0, 15, 55, 0.04);

    --maan-clr-1:rgba(255, 164, 28, 0.1);
    --maan-clr-2:#FFA41C;
    --maan-clr-3:rgba(37, 212, 169, 0.1);
    --maan-clr-4: #25D4A9;
    
  
  
  --lp-call-item-bg:linear-gradient(189deg, #00FFD1 -9.69%, #0057FF 110.38%);
  
  
  
  
  
  }